.texto-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 12vh; /* o la altura que desees */
    border-radius: 0 0 20px 20px;
    
   }

   .texto-centrado::before {
    
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /* ajusta este valor para controlar la curvatura de las esquinas */
    background: inherit;
    border-radius: 20px 20px 0 0 ; /* este valor determina la curvatura de las esquinas inferiores */
   }

