<h2 class="texto-centrado"> RegistrAPP </h2>

<br>


<div class="clases-list">
  <div *ngFor="let clase of clases" class="clase-item">
    <h3>{{ clase.name }}</h3>
    <p>Sección: {{ clase.seccion }}</p>
    <p>Horario: {{ clase.horario}}</p>
  </div>
</div>

<div class="card text-center">

    <div class="card-body">
        <div class="d-grid gap-2 ">
            <button class="btn btn-success  " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Informacion</button>
    
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Duoc: Tu Puerta al Conocimiento y al Futuro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>En Duoc, nuestra pasión es la educación. Somos una institución comprometida con la formación integral de nuestros estudiantes y con la creación de líderes del mañana. Con una rica historia que se remonta a décadas atrás, Duoc se ha convertido en un referente en la educación superior en Chile y en el extranjero.</p>
            </div>
            </div>
        </div>

    </div>

    <div>
        <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
    </div>

