<body>

   
    <h2 class="texto-centrado"> RegistrAPP </h2>

    <br>

    <div class="card text-center">

        <div class="card-header">
            <h3>Login</h3>
        </div>

        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

                <div class="mb-3 ">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="nombre@ejemplo.com">
                </div>
            
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="*********" >
                </div>
                <div class="d-grid gap-2">
            
                    <input type="submit"  class="btn btn-success " value="Acceder">
                    
                </div>
            </form>
        </div>

        <div class="card-footer text-body-secondary  ">



        </div>
    

    </div>
 <br>
 <br>
 <br>

    <div class="card text-center">
        

        
        <div class="card-body">
            <div class="card-header">
                <h4>¿No tienes una cuenta?</h4>
            </div>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

                <div class="d-grid gap-2">
            
                    <input type="submit" (click)="onClick()" class="btn btn-success " value="Registrate">
                    
                    
                </div>
            </form>
        </div>

    </div>

    

        
    </body>



